* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  background: var(--dark-blue, #10141E);
  color: var(--pure-white, #FFF);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

/* Header */

header {
  width: 100%;
  height: 56px;
  padding: 0px 16px 0px 16px;
  background: var(--semi-dark-blue, #161D2F);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header--container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  width: 136px;
  display: flex;
  justify-content: space-between;
}

.company--logo {
  width: 24px;
  height: 20px;
}

.nav--icon {
  width: 16px;
  height: 16px;
  fill: #5A698F;
}

.nav--icon:hover {
  cursor: pointer;
  transition: fill 0.3s;
  fill: red;
}

.active {
  fill: white;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid var(--pure-white, #FFF);
}

/* Main */

main {
  width: 375px;
  padding: 0px 16px 0px 16px;
}

form {
  height: 24px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

form img {
  margin-right: 16px;
}

.home--input {
  background: var(--dark-blue, #10141E);
  border: none;
  width: 100%;
  outline: none;
  height: 40px;
  border-bottom: 1px solid  var(--dark-blue, #10141E);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--pure-white, #FFF);
}

.home--input::placeholder {
  color: var(--pure-white, #FFF);
  font-size: 16px;
  font-weight: 300;
  opacity: 0.4978797435760498;
}

.home--input:focus {
  border-bottom: 1px solid var(--greyish-blue, #5A698F);
}

.header {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.312px;
}

.home--header {
  margin-top: 26px;
}

/* Trending Images */

.trending--container {
  display: flex;
  gap: 16px;
  height: 140px;
  width: 1280px;
}

.trending--movie {
  width: 240px;
  height: 140px;
  position: relative;
}

.info--container {
  position: absolute;
  left: 16px;
  bottom: 16px;
  z-index: 50;
}

.info--panel {
  display: flex;
  color: var(--pure-white, #FFF);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  height: 15px;
  left: 16px;
  bottom: 40px;
  min-width: 132px;
  justify-content: space-between;
  align-items: center;
  opacity: 0.75;
  margin-bottom: 5px;
}

.dot--container {
  height: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.dot {
  height: 5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo--movie {
  width: 12px;
  height: 12px;
  fill: white;
}

.trending--movie h2 {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  bottom: 5px;
  left: 16px;
  margin: 0px;
}

.image {
  border-radius: 8px;
  position: absolute;
}

.image--small {
  width: 240px;
  height: 140px;
}

.image--large {
  width: 470px;
  height: 230px;
}

.small {
  width: 164px;
  height: 110px;
}

.medium {
  width: 220px;
  height: 140px;
}

.large {
  width: 280px;
  height: 174px;
}

.bookmark--logo {
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgba(16, 20, 30, 1);
  border-radius: 50%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 16px;
  top: 10px;
}

.bookmark--empty {
  stroke: white;
}

.bookmark--logo:hover {
  cursor: pointer;
  background: white;
  opacity: 1;
}

.bookmark--full {
  fill: white;
}

.bookmark--logo:hover .bookmark--empty {
  stroke: black;
}

.bookmark--logo:hover .bookmark--full {
  stroke: black;
  fill: black;
}

/* Entertainment Section */

.entertainment--section {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 61px;
}

.entertainment--container {
  height: 164px;
  width: 164px;
  position: relative;
}

.entertainment--container h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  bottom: 5px;
  left: 16px;
  margin: 0px;
}

.imageEnt {
  border-radius: 8px;
}

.entertainment--panel {
  display: flex;
  color: var(--pure-white, #FFF);
  gap: 6px;
  align-items: center;
  height: 15px;
  margin: 10px 0px 10px 0px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  opacity: 0.75;
}

.result--header {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.312px;
  margin-top: 26px;
}

/* Bookmarked Section */

.bookmarked--container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.bookmarked--heading {
  margin-top: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.312px;
}
